@{
    ViewBag.Title = "Admin";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styleAdmin.css" media="screen" />
</head>
<div class="centru">

    <h2 class="titluCateg">Actiuni admin</h2>
    <br />
    <br />

    <img class="imagine" src="~/Content/Images/fogg-safe-sport.PNG" />

    <h4 class="titluCateg">Administrare ore de lucru</h4>

    <button onclick="location.href='/Administration/Index'" class="buton">Program de lucru</button>


    <h4 class="titluCateg">Produse</h4>

    <button onclick="location.href='/ProductCategory/Index'" class="buton">Categorii de produs</button>
    <button onclick="location.href='/Product/Index'" class="butonas">Produse</button>


    <h4 class="titluCateg">Comenzi</h4>
    <button onclick="location.href='/Order/Index'" class="buton">Comenzi</button>



    <h4 class="titluCateg">Antrenori</h4>

    <button onclick="location.href='/Category/Index'" class="buton">Tipuri de antrenori</button>


    <h4 class="titluCateg">Programări</h4>

    <button onclick="location.href='/Appointment/Index'" class="buton">Vizualizare programări</button>

</div>
