@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: -200px;" class="itemNav">
            @Html.ActionLink("Salut " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li style="position: absolute; left: 1870px; top: 0px; font-size: 16px;" class="itemNav"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="itemNav">@Html.ActionLink("Înregistrează-te", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="itemNav">@Html.ActionLink("Loghează-te", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
