[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color:wheat;
}

h1, .sub-heading {
    text-align: center;
    margin: .5rem 0 1rem;
}
.sub-heading {
    font-size: .75em;
    font-weight: 300;
    font-size:15px;
    color:white !important;
}

._grid {
    text-align: justify !important;
    text-justify: distribute-all-lines;
    font-size: 0 !important;
    text-rendering: optimizespeed;
}
    ._grid:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

._column {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
}
._btn {
    display: inline-block;
    background-color: white;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
    color:black;
}

    ._btn:hover,
    .cart-totals:hover ._btn {
        background-color: #3498db;
        color: #ecf0f1;
    }

.shopping-cart {
    width: 80%;
   
    margin: 0 auto;
}

.shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    height: 15rem;
    overflow: hidden;
}

    .shopping-cart--list-item:hover,
    .shopping-cart--list-item:hover * {
        border-color: #3498db;
    }

    .shopping-cart--list-item > ._column {
        height: 100%; /* make vertical lines match */
    }

.product-image {
    width:116.8px;
    height:100%;
}

.product-info {
    width: 70.832119%;
    padding: .5rem;
}

.product-name {
    font: 300 2.4em/1 "Lato", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .125em;
}

.price {
    line-height: 1;
    text-align: right;
    color:white;
}

.product-single-price {
    margin-top: -1rem;
    font-size: 2.4em;
    color:white;
}

.product-modifiers {
    width: 12.496358%;
    text-align: right;
    border-left: 1px solid #bdc3c7;
}

.product-subtract,
.product-plus,
.product-qty {
    width: 33.330557%;
    background-color: transparent;
    color: white;
    text-align: center;
}

.product-qty {
    padding: .35em .75em;
}

.product-remove {
    font-size: .875em;
    margin-top: 3.35rem;
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 100%;
    visibility: hidden;
}

.product-modifiers:hover .product-remove {
    visibility: visible;
}

.product-remove:before {
    margin-right: .5em;
}

.product-remove:hover {
    background-color: #c0392b;
}

.product-total-price {
    border-top: 1px solid #bdc3c7;
    color: #95a5a6;
    font-size: 1.25em;
    padding: .5rem;
    color:white;
}

.shopping-cart--list-item:hover .product-total-price {
    background-color: #3498db;
    color: #ecf0f1;
}

.cart-totals {
    border-top: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    color:white;
}

    .cart-totals ._column {
        width: 19.984013%;
        padding: .5rem;
        line-height: 1.2;
    }

        .cart-totals ._column:not(:last-of-type) {
            border-right: 1px solid #bdc3c7;
        }

        .cart-totals ._column:first-of-type {
            padding-left: 0;
        }

.cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
}

.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
    color: wheat;
}

.cart-totals-value {
    font-size: 2em;
}

._column.checkout {
    text-align: right;
    padding: 0;
    margin-top: 1.5em;
    vertical-align: middle;
}

.checkout-btn:before {
    margin-right: .5em;
}

._btn.checkout-btn:hover {
    background-color: #2980b9;
}

/**
 * Animations
 */
.product-remove,
.cart-totals * {
    transition: all .2s ease;
}

.closing {
    transition: all .5s ease;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}
