body 

{
    
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}
.titlu {
    margin-top: 100px;
    margin-left: 40%;
    font-family: 'Raleway', sans-serif;
    color:wheat;
    font-size:40px;
}
label {
    color: wheat;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
.butonn {
    background-color: #286090;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
}