body {
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
    
}
#container {
    text-align: center;
}
#body_header {
    width: auto;
    margin: 0px auto;
    text-align: center;
    font-size: 25px;
    color:white;
}
.formular {
    width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    
}

h1, h2 {
    margin: 0 0 30px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#titlu
{
    margin:0;
}

select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    text-align:center;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

    label.light {
        font-weight: 300;
        display: inline;
    }

    input
    {
        width:100%;
        text-align:center;
        
    }
.inapoi {
    background-color: green;
    border: 1px solid green;
}

.antrenor
{
    font-size:35px;
}

.poza{
    text-align:center;
}