body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}

h3
{
    color:wheat;
    font-size:30px;
    text-align:center;
}
h1
{
    text-decoration:none;
    color:wheat;
}
.titlu
{
    color:white;
}