body {
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
}
.centru
{
    text-align:center;
}
.titluCateg {
    color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    text-shadow: 3px 3px 7px black;
}

.imagine
{
   height:230px;
}

.buton {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    align-items: center;
    margin-top: 20px;
}

    .buton:hover {
        background: #d5d3d3;
        border: 1px solid #d73851;
    }
.butonas {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: black;
    padding: 10px 45px;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    align-items: center;
    margin-top: 20px;
}

    .butonas:hover {
        background: #d5d3d3;
        border: 1px solid #d73851;
    }