body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: url('https://t4.ftcdn.net/jpg/02/57/65/13/360_F_257651358_mgb0VrHgGqNSKNjiJSltEsaHhY35RtT4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    background-size: cover;
    
}

#titluCateg {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    text-shadow: 3px 3px 7px black;
}

.nume {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    text-shadow: 3px 3px 7px black;
}

.centru
{
    text-align:center;
}

table th {
    color: white;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
}

table tr {
    color: white;
    font-size: 17px;
   
    font-family: 'Amatic SC', cursive;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    color:white;
}

input{
    text-align:center;
    font-size:25px;
}

.buton {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    align-items: center;
    margin-top: 20px;
}

    .buton:hover {
        background: #d5d3d3;
        border: 1px solid #d73851;
    }
.button {
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background: green;
    border: 1px solid #ef3f5a;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
