

.asezareNav {
    height: 60px;
    color: white !important;
}

.asezareSigla {
    margin-left: 0px !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-top: 20px;
    top: 3px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: white;
}

.asezareSigla:hover {
    text-decoration: none;
    color: white;
}

.primuItem {
    margin-left: 50px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
}


    .itemNav {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    color: white !important;
}