<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styleFirstPage.css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
</head>



<div class="continut">
    <h1>NeverLoseYourHope</h1>
    <p><b>Dacă începi astăzi, vei începe să simți rezultate cu o zi mai devreme decât dacă ai începe mâine.<br />Nu mai amâna și noi te vom ajuta să ajungi în cea
    mai bună formă fizică și mentală.<br /></b></p>
    <div>
        <button type="button" onclick="location.href='/Home/Index'"><span></span>Produse</button>
        <button type="button" onclick="location.href='/Coach/Index'"><span></span>Antrenori</button>
        <button type="button" onclick="location.href='/Appointment/Create'"><span></span>Programare la un antrenor</button>
    </div>

</div>